# Sets in Python

Create a new set.

In [1]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

Set eliminates the repeated entries.

In [3]:
# Create a set from a list

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

## Set Operations

In [4]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [5]:
# Add an element to set
A.add("NSYNC")

In [6]:
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [7]:
# Add same element twice
A.add("Thriller")

In [8]:
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

Nichts!

In [9]:
# Remove an item from a set

A.remove("NSYNC")

In [10]:
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [13]:
# Check
"Thriller" in A

True

In [14]:
"Bremen" in A

False

### Set Logic Operation

In [32]:
# Sample Sets
al = set(["Thriller", "AC/DC", "Back in Black"])
alb = set(["Thriller", "pop", "Back in Balck"])

In [33]:
al, alb

({'AC/DC', 'Back in Black', 'Thriller'}, {'Back in Balck', 'Thriller', 'pop'})

In [34]:
inter = al & alb
inter

{'Thriller'}

In [36]:
# Only found in set al
al.difference(alb)

{'AC/DC', 'Back in Black'}

Intersection method

In [37]:
al.intersection(alb)

{'Thriller'}

In [39]:
#union between two sets
al.union(alb)

{'AC/DC', 'Back in Balck', 'Back in Black', 'Thriller', 'pop'}

Check if the set is subset of another

In [44]:
Tri = {"Brownlee", "Frodeno", "Allen" }
Run = {"Kipchoge", "cheptegei", "Ingebrigsten", "Frodeno", "Allen", "Brownlee", "Lokesh"}

In [45]:
set(Tri).issuperset(Run)

False

In [46]:
set(Run).issuperset(Tri)

True