# String Operations

### What are Strings?

In [2]:
#String within double quotation marks

"Michael Jackson"

'Michael Jackson'

In [3]:
# String within single quotation marks

'Lokesh Pandey'

'Lokesh Pandey'

A string can be a combination of spaces and digits:

In [4]:
'1 2 3 4 5 6'

'1 2 3 4 5 6'

It can also be a combination of special characters:

In [5]:
'@#2_#]&*^%$'

'@#2_#]&*^%$'

Let's print something:

In [8]:
print("Hey, Lokesh!")

Hey, Lokesh!

Assign string to a variable:

In [10]:
Name = "Lokesh Pandey"
Name

'Lokesh Pandey'

## Indexing

In [13]:
# Print the first element in the string
print(Name[0])

L

In [15]:
#Print the element on index 6 in the string
print(Name[6])

Nothing because there is space.

In [16]:
print(Name[12])

y

#### Negative Indexing

In [18]:
print(Name[-1])

y

In [19]:
print(Name[-10])

e

In [21]:
# The length of the string
len(Name)

13

#### Slicing

In [22]:
Name[0:4]

'Loke'

In [23]:
Name[:5]

'Lokes'

### Stride

In [30]:
#Get every second element. The elements on index 1,3,5..

Name[::2]

'Lks ady'

In [26]:
Name[::1]

'Lokesh Pandey'

In [27]:
Name[::3]

'Le ny'

In [29]:
Name[0:5:2]
# Every second element in the range from index 0 to index 4

'Lks'

### Concanate Strings

In [34]:
# Concanate or combine two strings

Statement = Name + " is the best"
Statement

'Lokesh Pandey is the best'

In [35]:
3 * Name

'Lokesh PandeyLokesh PandeyLokesh Pandey'

In [38]:
#Concanate strings

Name = "Lokesh Pandey"
Name = Name + " is the best."
Name

'Lokesh Pandey is the best.'

### Escape Sequences

Black slashes represent the beginningof escape sequences. Black slash "n" represent a new line.

In [40]:
# New line escape sequence

print(" Lokesh Pandey \n is the best.")

 Lokesh Pandey
 is the best.

In [42]:
# Tab escape sequencet 

print("Lokesh Pandey \t is the best.")

Lokesh Pandey 	 is the best.

In [44]:
# Place a back slash in your string
print("Lokesh Pandey \\ is the best.")

Lokesh Pandey \ is the best.

In [47]:
# r will tell the python that string will be displayed as row string
print(r"Lokesh Pandey \ is the best.")

Lokesh Pandey \ is the best.

# String Operations

Lets do some basic String Operations in python.

In [51]:
# Convert all the character in string to upper case

A = "Lokesh Pandey is the best."
print("before upper:", A)
B = A.upper()
print("After upper:", B)

# Cool, isn't it?

before upper: Lokesh Pandey is the best.
After upper: LOKESH PANDEY IS THE BEST.

In [52]:
#Replace the old substrng with the new target substring is the segment has been found in the string:


A = "Lokesh Pandey is the best."
B = A.replace('Lokesh', 'Loki')
B

'Loki Pandey is the best.'

In [53]:
# method FIND

In [54]:
Name

'Lokesh Pandey is the best.'

In [55]:
Name.find('kes')

2

In [56]:
# If not found
Name.find("Guten")

-1

# Time for some quiz on strings

In [58]:
A = '1'
A

'1'

In [60]:
B = '2'
B

'2'

In [67]:
C = A + B

How? String!!

In [68]:

C

'12'

In [70]:
#SLice first three elements

D = "ABCDEFG"
print(D[:3])

ABC

In [71]:
# Striding time

E = 'clocrkrlelclt'
print(E[::2])

correct