# Pandas in Python

In [1]:
# import pandas

import pandas as pd

In [3]:
# Read the scv file

path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv'
df = pd.read_csv(path)

In [5]:
df.head(6)

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5

In [8]:
# Read data from excel file

xlsx_ko_bato = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'
fd = pd.read_excel(xlsx_ko_bato)
fd.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [12]:
# Check the column lenght

x = fd[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [13]:
# once bracket check

x = fd['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [14]:
# Get the column as a dataframe

x = type(fd[['Artist']])
x

pandas.core.frame.DataFrame

In [15]:
x.head()

TypeError: head() missing 1 required positional argument: 'self'

In [16]:
x

pandas.core.frame.DataFrame

In [21]:
# Time to access multiple columns

y = fd[['Length', 'Artist', 'Genre']]
y

     Length           Artist                        Genre
0  00:42:19  Michael Jackson               pop, rock, R&B
1  00:42:11            AC/DC                    hard rock
2  00:42:49       Pink Floyd             progressive rock
3  00:57:44  Whitney Houston               R&B, soul, pop
4  00:46:33        Meat Loaf  hard rock, progressive rock
5  00:43:08           Eagles   rock, soft rock, folk rock
6  01:15:54         Bee Gees                        disco
7  00:40:01    Fleetwood Mac                    soft rock

In [22]:
# using iloc access first row and first column

fd.iloc[0,0]

'Michael Jackson'

In [23]:
# second row first column

fd.iloc[1,0]

'AC/DC'

In [24]:
# first row and the third column

fd.iloc[0,2]

1982

In [25]:
# column using the name

df.loc[0, 'Artist']

'Michael Jackson'

You can also perform slicing

In [26]:
df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [27]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

## Quizes

Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [28]:
# Code

q = df[['Rating']]

Access the 2nd row and the 3rd column of df:

In [29]:
# Code

df.iloc[1,2]

1980