# Lists in Python

I hope to learn the basics of lists in the Python Programming Language

## Lists

### Indexing

A list is a sequenced collection of different objects such as integers, floats, integers, and other lists as well. The whereabout of each element within a list is called an index.

In [4]:
# Create a list
L = ["Lokesh Pandey", 22.5, 1997]
L

['Lokesh Pandey', 22.5, 1997]

Both negative as well as regular indexing can be used.

In [12]:
# Print the elements on each index
print('The same element using negative and positive indexing:\n Positive:', L[0], '\n Negative:' , L[-3])

print("The same element using negative and positive indexing: \n Positive", L[1], '\n Negative:', L[-2])

print("The same element using negative and positive indexing: \n Positive", L[2], '\n Negative:', L[-1])

The same element using negative and positive indexing:
 Positive: Lokesh Pandey
 Negative: Lokesh Pandey
The same element using negative and positive indexing:
 Positive 22.5
 Negative: 22.5
The same element using negative and positive indexing:
 Positive 1997
 Negative: 1997

# List Content

Lists can contain string, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [18]:
# Sample list

L = ["Lokesh Pandey", 22.5, 1997, [1,2], ("A", 1)]
L

['Lokesh Pandey', 22.5, 1997, [1, 2], ('A', 1)]

## List Operation

In [19]:
#Lets slice the last two elements from L

L[3:5]

[[1, 2], ('A', 1)]

In [30]:
# Extend the list with (Bremen, 28759, (Gongabu, 44600)

L.extend(["Bremen", 28759, ("Gongabu", 44600)])
L

['Lokesh Pandey',
 22.5,
 1997,
 [1, 2],
 ('A', 1),
 'Bremen',
 28759,
 ('Gongabu', 44600),
 'Bremen',
 28759,
 ('Gongabu', 44600),
 'Bremen',
 28759,
 ('Gongabu', 44600),
 'Bremen',
 28759,
 ('Gongabu', 44600)]

In [31]:
L

['Lokesh Pandey',
 22.5,
 1997,
 [1, 2],
 ('A', 1),
 'Bremen',
 28759,
 ('Gongabu', 44600),
 'Bremen',
 28759,
 ('Gongabu', 44600),
 'Bremen',
 28759,
 ('Gongabu', 44600),
 'Bremen',
 28759,
 ('Gongabu', 44600)]

### Try append

In [36]:
L.append(["Not cool", "ugly", 2020])

In [37]:
L

['Lokesh Pandey',
 22.5,
 1997,
 [1, 2],
 ('A', 1),
 'Bremen',
 28759,
 ('Gongabu', 44600),
 'Bremen',
 28759,
 ('Gongabu', 44600),
 'Bremen',
 28759,
 ('Gongabu', 44600),
 'Bremen',
 28759,
 ('Gongabu', 44600),
 ['Not cool', 'ugly', 2020]]

In [43]:
L = ["Michael Jacksoon", 10.2]
L.append(['pop', 10])
L

['Michael Jacksoon', 10.2, ['pop', 10]]

In [46]:
L = ["Michael Jacksoon", 10.2]
L.extend(['pop', 10])
L

['Michael Jacksoon', 10.2, 'pop', 10]

In [47]:
L.append(['a', 'b'])
L

['Michael Jacksoon', 10.2, 'pop', 10, ['a', 'b']]

Lists are mutale, we can change them.

In [48]:
A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print("After change:", A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

COnvert a string to a list using split.

In [49]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [50]:
'A, B, C, D'.split(',')

['A', ' B', ' C', ' D']

### Copy and Clone list

When we set one variable B equal to A; both A and B are referencing the same list in memory:

In [51]:
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [63]:
print('B[0]:', B[0])
A[0] = 'banana'
print('B[0]:', B[0])

B[0]: hard rock
B[0]: hard rock

In [64]:
B = A[:]
B

['banana', 10, 1.2]

In [65]:
print('B[0]:', B[0])
A[0] = 'hard rock'
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

In [66]:
A

['hard rock', 10, 1.2]

In [67]:
B = A[:]

In [68]:
A

['hard rock', 10, 1.2]

## Quiz on List

Create a list a_list with the following elements 1, hello, [1,2,3] and True

In [69]:
a_list = [1, 'hello', [1,2,3], True]

In [70]:
# value in index 1
a_list[1]

'hello'

In [71]:
# Elements stored at inde 1,2 and 3 of a_list
a_list[1:4]

['hello', [1, 2, 3], True]